<link rel="Stylesheet" type="text/css" href="styles/home.css">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >&nbsp;</div>
	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-6 productListRoot">
		<div as-sortable="dragControlListeners" ng-model="productList" class="bucket">
			<div as-sortable-item ng-repeat="product in productList" class="productList">
				<div as-sortable-item-handle class="productListData">{{product.name}}</div>
			</div>
		</div>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">&nbsp;</div>
	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-6 productListRoot">
		<div as-sortable="dragControlListeners" ng-model="myCart" class="bucket">
			<div as-sortable-item ng-repeat="cart in myCart" class="productList">
				<div as-sortable-item-handle class="productListData">{{cart.name}}</div>
			</div>
		</div>
	</div>
</div>